<div id='catalogParams'>
    <div class="pull-right">
        <span>Сортировка</span>
        <select ng-model='defaultOrdering' ng-options='opt.title for opt in orderingParams track by opt.order'
                ng-change="changeOrdering()"></select>

        <span>Показывать на странице</span>
        <select ng-model='pageSize' ng-options="opt for opt in pageSizes track by opt"
                ng-change="changePageSize()"></select>
    </div>
</div>

<div class="row index">
    <div ng-include="'/catalog/product.html'" ng-repeat="product in products"></div>
</div>

<!--div id='pager'>
    <a scroll-on-click ng-repeat="page in pages" ng-class="page == currPage - 1 ? 'active' : ''" ng-click="changePage(page+1)">{{page+1}}</a>
</div-->

<nav>
    <ul class="pagination">
        <li ng-repeat="page in pages" ng-class="page == currPage - 1 ? 'active' : ''" >
            <a ng-click="changePage(page+1)">{{page+1}}</a>
        </li>
    </ul>
</nav>

<div class="seo-text col-md-12">
    Ваш шедевр готов!
    Разнообразный и богатый опыт реализация намеченных плановых заданий представляет собой интересный эксперимент
    проверки систем массового участия. Таким образом постоянный количественный рост и сфера нашей активности играет
    важную роль в формировании новых предложений.

    Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить
    значение форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию
    позиции влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.

    Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение форм
    развития. Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу
    (специалистов) участие в формировании новых предложений.

    Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент
    проверки систем массового участия. Повседневная практика показывает, что дальнейшее развитие различных форм
    деятельности требуют от нас анализа форм развития.

    Таким образом новая модель организационной деятельности играет важную роль в формировании систем массового участия.
    Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения соответствующий
    условий активизации. Таким образом сложившаяся структура организации играет важную роль в формировании систем
    массового участия. Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за
    собой процесс внедрения и модернизации направлений прогрессивного развития.
</div>