<div class="row block-margin">

    <div class='col-md-5 col-sm-6 col-xs-12'>
        <marco-image class='marco-image img-responsive' height="480" width="320" source="{{product.title_image.path}}" alt="{{product.title_image.title}}"></marco-image>
    </div>

    <div class="col-md-7 col-sm-6  col-xs-12">
        <div id='productInfo'>
            <div class="col-md-12">
                <h1>{{product.title}}</h1>
            </div>
            <div class="col-md-12 product-card-status">
                <span ng-if="product.is_new" class="label label-success label">Новинка</span>
                <span ng-if="product.is_sale" class="label label-danger">Акция</span>
                <span ng-if="product.is_preorder" class="label label-warning">Под заказ</span>
            </div>
            <div class="col-md-12">
                <span>Наличие: {{product.is_preorder? 'нет' : 'есть'}}  в наличии</span>
                <span class='price'>Цена: {{product.price}} грн</span>
            </div>

            <div class="col-md-12 form-inline buy-widget">
                <div class="form-group">
                   <marco-add-to-card id="{{product.id}}"></marco-add-to-card>
                </div>
            </div>

        </div>
        <div id='description' class="col-md-12" ng-if="product.description">
            <span class="h4">Описание товара:</span>
            <br>
            <div ng-bind-html="product.description"></div>
        </div>
    </div>
</div>

<div class="col-md-12 block-margin yellow-block" ng-if="product.is_sale && product.sales.length > 0">
    <span class="h4">Акции: </span>

    <div class="media" ng-repeat="sale in product.sales">
        <div class="media-left">
            <img class="media-object" src="{{sale.image.thumb}}" alt="{{sale.image.thumb}}">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{sale.title}}</h4>
            {{sale.description}}
        </div>
    </div>

</div>
<div class="col-md-12 block-margin marco-gallery" ng-if="product.gallery.length>0">
    <span class="h3">Изображения товара:</span>
    <marco-image ng-repeat="image in product.gallery" class='marco-image img-responsive' height="640" width="480" source="{{product.title_image.path}}" alt="{{product.title_image.title}}"></marco-image>
</div>