<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="MirrorStore" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="MirrorStore" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="MirrorStore" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="MirrorStore" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-theme-cosmo/cosmo.min.css">
    <link rel="stylesheet" href="bower_components/responsive-slider/responsiveslides.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>

<div class="container">

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--div class="row">
        <div class="col-md-10 col-md-offset-2">
            <a href="#" class="centred">
                <img class="img-responsive" src="../static/banners/frontalBanner.png" alt="main-banner">
            </a>
        </div>
    </div-->


    <div class="row">
        <!--Логотип-->
        <div class="col-md-3">
            <a href='/#/'>
                <img id='logo' class='img-responsive' src='static/site/logo.png' alt='logo'>
            </a>

            <div class="marco-sidebar-menu marco-margin-top" ng-controller="CategoryTreeCtrl">
                <ul ng-if="categories">
                    <!--Категоря одежда-->
                    <li ng-repeat="cat in categories">
                        <span class="title-menu">{{cat.title}}</span>
                        <!--Подкатегории-->
                        <ul>
                            <li ng-repeat="childCat in cat.childrens">
                                <a href='#/{{childCat.url}}'>{{childCat.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9 fade" ng-view></div>
    </div>


</div>

<!--сабфутер-->
<div id='subfooter'>
    <div class="container" ng-controller="CategoryTreeCtrl">
        <div class="col-md-8">
            <div class="col-md-4" ng-repeat="cat in categories">
                <ul>
                    {{cat.title}}
                    <li ng-repeat="child in cat.childrens"><a href='#/{{cat.url}}'>{{cat.title}}</a></li>

                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="col-md-12">
                <span class="h4">Способы оплаты</span><br>
                <a href=''><img src='static/site/privat24.png' width='75' height='50'></a>
                <a href=''><img src='static/site/webmoney.png' width='75' height='50'></a>
                <a href=''><img src='static/site/paypal-credit-cards.jpg' width='75' height='50'></a>
                <img src='static/site/cash2.png' width='50' height='50'>
            </div>

            <div class="col-md-12">
                <span class="h4">Способы доставки</span><br>
                <a href=''><img src='static/site/nova_poshta.gif' width='75' height='50'></a>
                <a href=''><img src='static/site/intime.jpg' width='75' height='50'></a>
                <a href=''><img src='static/site/ukrposhta-logo.gif' width='75' height='50'></a>
                <img src='static/site/courier.png' width='50' height='50'>
            </div>

            <!--div class="col-md-12">
                <span class="h4">Мы в интернете</span><br>
                <a href=''><img src='../static/site/vk.jpg' width='25' height='25'></a>
                <a href=''><img src='../static/site/fb.png' width='25' height='25'></a>
                <a href=''><img src='../static/site/youtube.png' width='25' height='25'></a>
            </div-->

        </div>
    </div>
</div>


<!--футер-->
<div id='footer'>
    2014-2015 © Все права защищены. Сайт разработано <a href=''>SirkoStudio</a>
</div>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/responsive-slider/responsiveslides.min.js"></script>
<script src="app.js"></script>
<script src="index/index.js"></script>
<script src="catalog/catalog.js"></script>
<script src="card/card.js"></script>
</body>
</html>
