<div class="basket">
    <h1>Корзина</h1>
    <div ng-show="!empty">
        <table class="table table-striped">
            <tr ng-repeat="product in products" ng-show="basket[product.id]">
                <td class="2">
                    <marco-image class='marco-image img-responsive' height="64" width="64"
                                 source="{{product.title_image.path}}" alt="{{product.title_image.title}}"></marco-image>
                </td>
                <td>{{product.title}}</td>
                <td class="col-md-2"><input ng-change="changeQuantity()" class="form-control" min="1" type="number" ng-model="basket[product.id]"/></td>
                <td class="col-md-2">{{product.price * basket[product.id]}} грн</td>
                <td class="col-md-1"><i class="glyphicon glyphicon-remove remove" ng-click="removeFromCard(product.id)"></i></td>
            </tr>
        </table>
        <div class="row text-right">
            <span class="h4">Итого: {{amount}} грн</span>
        </div>
        <div class="row pull-right">
            <button ng-click="clearBasket()" class="btn btn-default">Очистить</button>
            <button class="btn btn-success">Оформить заказ</button>
        </div>
    </div>

    <div ng-show="empty" class="alert alert-success">Тут пусто</div>
</div>
