<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello marco</title>
    {% load staticfiles %}
    <script type="application/javascript" src="{% static 'frontend/js/angular.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'frontend/js/app.js' %}"></script>
    <script type="application/javascript" src="{% static 'frontend/js/controllers.js' %}"></script>
</head>
<body ng-app="marco">
Hello marco 1
<div class="listing" ng-controller="ProductsListingController">
    <ul>
        <li ng-repeat="product in products">
            <img class="thumbnail" src='{$product.title_image.image$}'>
            <span>{$product.title$}</span> - {$product.price$}
        </li>
    </ul>

</div>
</body>
</html>