<div>
<div id='slider'>
    <div class="rslides_container" ng-if="slides.length > 0">
        <ul class="rslides" id="slider1">
            <li rs-slider ng-repeat="image in slides">
                <marco-image height="400" width="800" source="{{::image.path}}" alt="{{::image.title}}"></marco-image>
            </li>
        </ul>
    </div>
</div>

<div id='newProducts'>
    <div ng-if="products.length > 0">
        <span class="h1 marco-h1">Новинки на сайте:</span>

        <!--Иконка товара-->
        <div class="row">
            <div ng-include="'/components/templates/product.html'" ng-repeat="product in products"></div>
        </div>
    </div>
</div>

<div>
    <div ng-if="productsSale.length > 0" id='sale-products' class="yellow-block">
        <span class="h1 marco-h1">Акционные товары:</span>

        <!--Иконка товара-->
        <div class="row">
            <div ng-include="'/components/templates/product.html'" ng-repeat="product in productsSale"></div>
        </div>
    </div>
</div>

    <div class="col-md-9" ng-bind-html="description"></div>
</div>