<div>
<div id='slider'>
    <div class="rslides_container" ng-if="slides.length > 0">
        <ul class="rslides" id="slider1">
            <li rs-slider ng-repeat="image in slides">
                <img ng-src='{{image}}' alt="{{image}}">
            </li>
        </ul>
    </div>
</div>

<div id='newProducts'>
    <div ng-if="products.length > 0">
        <span class="h1 marco-h1">Новинки на сайте:</span>

        <!--Иконка товара-->
        <div class="row">
            <div ng-include="'/catalog/product.html'" ng-repeat="product in products"></div>
        </div>
    </div>
</div>

<div>
    <div ng-if="productsSale.length > 0" id='sale-products' class="yellow-block">
        <span class="h1 marco-h1">Акционные товары:</span>

        <!--Иконка товара-->
        <div class="row">
            <div ng-include="'/catalog/product.html'" ng-repeat="product in productsSale"></div>
        </div>
    </div>
</div>

<div class="seo-text col-md-12">
    Ваш шедевр готов!
    Разнообразный и богатый опыт реализация намеченных плановых заданий представляет собой интересный эксперимент
    проверки систем массового участия. Таким образом постоянный количественный рост и сфера нашей активности играет
    важную роль в формировании новых предложений.

    Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции позволяет оценить
    значение форм развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию
    позиции влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.

    Значимость этих проблем настолько очевидна, что укрепление и развитие структуры позволяет оценить значение форм
    развития. Задача организации, в особенности же сложившаяся структура организации обеспечивает широкому кругу
    (специалистов) участие в формировании новых предложений.

    Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент
    проверки систем массового участия. Повседневная практика показывает, что дальнейшее развитие различных форм
    деятельности требуют от нас анализа форм развития.

    Таким образом новая модель организационной деятельности играет важную роль в формировании систем массового участия.
    Не следует, однако забывать, что укрепление и развитие структуры требуют определения и уточнения соответствующий
    условий активизации. Таким образом сложившаяся структура организации играет важную роль в формировании систем
    массового участия. Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за
    собой процесс внедрения и модернизации направлений прогрессивного развития.
</div>
</div>